@import url('https://fonts.googleapis.com/css?family=Quicksand');


body{
  font-family: 'Quicksand', sans-serif;
}

h1, h4, p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: black;
}

/*NAVIGATION ============*/
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li{
  font-size: 25px;
}

a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: black;
}
/*END NAVIGATION ==========*/

#home{
  background-image: linear-gradient(-90deg, #0F7BFF, #FF0FCB);
  height: 100vh;
}

/*HEADER ============*/
#headerName{
  font-family: 'bromello', 'Quicksand', 'sans-serif';
  font-size: 150px;
  color: white;
  padding-top: 0.8em;
  padding-bottom: 0;
  margin-top: 5px;
}

#headerTitle{
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 35px;
  margin-top: -3em;
  padding-bottom: 2.5em;
}
/*END HEADER =============*/

/*=============END HOME==============================*/
/*==================================================*/

/*==============START NAV LINK ROUTING====================*/

/*START ABOUT PAGE =======*/
#aboutHeader{
  height: 14em;
  background-image: linear-gradient(-90deg, #F6FF00, #FF00A1);
}

#profilePic{
  margin: 15px 55px;
  float: left;
}

#profilePicImage{
  border-radius: 125px;
}

#aboutH1 {
  font-family: 'bromello', 'Quicksand', 'sans-serif';
  font-size: 80px;
  color: white;
  padding: 1em 0.3em;
  margin-top: 1px;
  text-align: left;
}

.aboutMeText{
  text-align: left;
  font-size: 20px;
  margin-left: 3em;
  margin-right: 6em;
}

#aboutMe p{
  text-align: left;

  margin-right: 25px;
}

#downloadResume a{
  color: orange;
}



/*END ABOUT PAGE =======*/


/*START PORTFOLIO PAGE ========*/
#portfolioHeader{
  height: 14em;
  background-image: linear-gradient(-90deg, #00FFC8, #7300FF);
}

#portfolioTop {
  font-family: 'bromello', 'Quicksand', 'sans-serif';
  font-size: 80px;
  color: white;
  padding: 1em 0.5em;
  margin-top: 1px;
  text-align: left;
}

#pictureRow{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#red{
  height: 200px;
  width: 200px;
  background: red;
  margin-right: 25px;
}

#green{
  height: 200px;
  width: 200px;
  background: green;
}

#blue{
  height: 200px;
  width: 200px;
  background: blue;
  margin-right: 25px;
}

#contentHeader{
  margin-left: 3%;
}

#contentText p{
  text-align: left;
  margin-left: 3%;
}

#quickSneakersCode{
  text-decoration: underline;
}


/*END PORTFOLIO PAGE ===========*/

/*START TESTIMONIAL SECTION ========*/
 #testimonialHeader{
   height: 14em;
   background-image: linear-gradient(-90deg, #00FFC8, #7300FF);
 }

 #testimonialsH1 {
   font-family: 'bromello', 'Quicksand', 'sans-serif';
   font-size: 80px;
   color: white;
   padding: 1em 1em;
   margin-top: 1px;
   text-align: left;
 }

 #testimonial{
   padding: 1em 3em;
   font-size: 20px;
 }

 #testimonial p {
   text-align: left;
   margin-right: 6em;
   margin-left: 6em;

 }

 .testimonialName{
   font-style: italic;
 }

 #testimonialHR{
   width: 75%;
   color: orange;
 }
/*END TESTIMONIAL SECTION ===============*/

/*START HOME - FOOTER =======*/
  #footer{
    height: 3em;
  }

  #copyright{
    margin-top: -25px;
    margin-bottom: 25px;
  }

  #linkedinLogo{
    height: 100px;
    width: 150px;
  }

  #instagramLogo{
    height: 110px;
    width: 155px;
  }

  #githubLogo{
    height: 100px;
    width: 150px;
  }

  #gmailLogo{
    height: 100px;
    width: 150px;
  }



@media(max-width: 900px) {
  #pictureRow {
    flex-direction: column;
  }

  .showcase p {
    width: 100% !important;
  }
}
